
    
@media (max-width: 600px){
    
    .products{
        display: inherit;
        height: auto;
    }
    
    
    .product{
        margin-top: auto
    }
    
    
    .main_section{
        padding: 4%;
    }
    
    .caracteristicas, .grid_mentions{
        display: inherit;
        
    }
    
    .mentions{
        margin: auto;
    }
    
    .mention{
        margin: 20px auto;
        width: 350px;
        height: 240px;
    }
    
}